.InputPanel {
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 120px;
    box-shadow: 0 2px 4px gray;
    padding: 0.5em;
}


.ButtonPanel {
    width: 100px;
    height: 100px;
    position: absolute;
}

.DescriptionPanel {
    background-color: white;
    border-radius: 10px;
    left: 120px;
    width: 40em;
    box-shadow: 0 2px 4px gray;
    border-spacing: 1em;
    margin: 1em 0em;
    padding: 0.5em;
}

.input {
    width: 10%;
    font-size: 2em;
    border-radius: 10px;
}

input.input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    text-align: right;
    background: none;
    field-sizing: content;
    width: auto;
    min-width: 1em;
    max-width: auto;
}

input.input:focus {
    outline: 1px solid blue;
}

button.input {
    background: linear-gradient(to bottom right, royalblue, 70%, blue);
    border-radius: 20px;
    outline: none;
    border: none;
    position: absolute;
    color: azure;
    box-shadow: 0 2px 4px gray;
    width: 100px;
    font-size: 200% 0;
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
}

button.input:active {
    transform: scale(0.95);
}

.calcButton {
    position: absolute;
    top: 0px;
}

.resetButton {
    position: absolute;
    top: 55px;
}

@media screen and (max-width: 500px) {
    .calcButton {
        position: absolute;
        top: 220px;
    }

    .resetButton {
        position: absolute;
        top: 275px;
    }

    .InputPanel {
        width: 100%;
        position: absolute;
        left: 0px;
    }

    @media screen and (max-height: 600px) {
        .changelogPanel {
            visibility: hidden;
        }
    }

    .DescriptionPanel {
        width: 100%;
        white-space: normal;
    }
}

.changelogPanel {
    position: absolute;
    bottom: 2em;
    /* visibility: hidden; */
}

@media screen and (max-height: 500px) {
    .changelogPanel {
        visibility: hidden;
    }
}

.copyrightPanel {
    position: absolute;
    bottom: 0px;
}

html {
    background-color: aliceblue;
}

body {
    font-family: 'メイリオ', 'Meiryo', sans-serif, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    white-space: nowrap;
}